{% extends "base.html" %}
{% block title %}Test{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-default" style="">
                <img src="/static/images/math.jpg" height="150px"/>
            </button>
        </div>
        <div class="col-md-6"><button class="btn btn-default"></button></div>
    </div>
    <div class="row">
        <div class="col-md-6"><button class="btn btn-default"></button></div>
        <div class="col-md-6"><button class="btn btn-default"></button></div>
    </div>
    <div class="row">
        <div class="col-md-6"><button class="btn btn-default"></button></div>
        <div class="col-md-6"><button class="btn btn-default"></button></div>
    </div>
    <div class="row">
        <div class="col-md-6"><button class="btn btn-default"></button></div>
        <div class="col-md-6"><button class="btn btn-default"></button></div>
    </div>
{% endblock %}